@font-face {
    font-family: 'miroslav'; /* Название шрифта */
    src: url('../fonts/Miroslav-Regular.ttf') format('truetype');
    font-weight: normal; /* Обычный вес шрифта */
    font-style: normal;  /* Нормальный стиль */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Устанавливаем минимальную высоту равную высоте экрана */
}

.content {
  flex-grow: 1;  /* Растягиваем контент, чтобы занять оставшееся пространство и прикрепить футер к низу экрана */
}

.custom-header {
  padding: 20px;
  padding-bottom: 5px;
  background-color: #424649;
  border-bottom: 1px solid rgb(150, 127, 1);
}

.header {
  display: flex;
  flex-direction: column; /* По умолчанию элементы идут вертикально */
  align-items: center; /* Центруем по горизонтали */
}

.img-logo {
  width: 50px;
  height: auto;
  border-radius: 5px 15px;
  box-shadow: 1px 1px 1px black, -1px -1px 1px white;
  margin-bottom: 10px;
}

h1.title {
  font-family: 'miroslav', sans-serif;
  font-size: bold;
  margin-bottom: 0;
  color: rgb(255, 166, 0);
  text-shadow: 3px 3px 1px black, -1px -1px 1px rgb(200, 166, 0);
  text-align: center;
}

.my-h-sub {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-family: 'miroslav', sans-serif;
  font-size: 1rem;
  color: #8b97a1;
  text-shadow: 2px 2px 1px black;
  text-align: center;
}

.btn-menu {
  border: 2px solid #8b97a1;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  color: rgba(255, 166, 0, 0.637);
}

button.navbar-toggler:focus,
button.navbar-toggler:active {
  outline: none;              
  box-shadow: none;           
  border: 2px solid #b1c1ce;;   
  border-radius: 10px;
}

.txt-menu {
  font-family: 'miroslav', sans-serif;
  color: rgb(172, 170, 170);
  border-bottom: 1px solid white;
  text-shadow: 1px 1px 1px black;
}

main {
  background-image: linear-gradient(to bottom, #333, #ccc);
  padding-top: 5%;
  padding-left: 15px;
  /* margin-right: 5%; */
}

.img-container {
  width: 90%;
  height: 100%;
  background-image: url(../images/parchment.png); /* Ваш URL изображения */
  background-size: 100% 100%; /* Масштабируем изображение, чтобы покрыть весь экран */
  background-position: top center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Избежим повторения */
}

.text-overlay {
  width: 80%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
  font-family: 'miroslav', sans-serif;
  font-size: .9rem;
  color: rgb(116, 29, 29);
}

h2 {
  text-align: center;
  font-family: 'miroslav', sans-serif;
  letter-spacing: 1px;
  color: brown;
  text-shadow: 1px 1px 1px black;
}

.text-en {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-text {
  color: rgb(172, 170, 170);
  font-style: italic;
  font-size: .8rem;
}

.tg-color {
  color: rgb(110, 110, 235);
  text-shadow: 2px 2px 1px rgb(88, 88, 88);
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .img-logo {
    width: 100px;
    margin-bottom: 0;
  }

  .my-h-sub {
    flex-direction: row;
    gap: 6px;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  h1.title {
    font-size: 2.5rem;
  }

  .img-logo {
    width: 120px;
    margin-top: 40px;
  }

  my-h-sub span {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}