.my-card {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
}

.title-card {
  color: #8b97a1;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

.head-card {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
  color: #424649;
  text-shadow: 1px 1px 1px black, -1px -1px 1px white;
  letter-spacing: 2px;
  text-align: center;
}

.text-card {
  text-align: justify;
  color: #424649;
  text-shadow: 1px 1px 1px black, -1px -1px 1px white;
  letter-spacing: 1px;
}

.carousel-control-prev,
.carousel-control-next {
  height: 350px; /* Фиксированная высота */
}