@font-face {
    font-family: 'rust'; /* Название шрифта */
    src: url('../fonts/Rust.ttf') format('truetype');
    font-weight: normal; /* Обычный вес шрифта */
    font-style: normal;  /* Нормальный стиль */
}

.h2-stickers {
  color: #8b97a1;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Основной контейнер */
    .container {
      position: relative; /* Позиционируем текст поверх изображения */
      width: 100%; /* Контейнер занимает всю ширину */
      height: 400px; /* Примерная высота контейнера */
      background-image: url("../images/sticker.png"); /* Фоновое изображение */
      background-size: cover; /* Покрытие изображения */
      background-position: center; /* Центрируем изображение */
      overflow: hidden; /* Обрезаем всё, что выходит за пределы */
      max-width: 400px;
      min-width: 300px;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .hgroup-sticker {
      padding: 0;
    }

    main h3 {
      font-family: 'Arial', sans-serif;
      text-align: center;
      text-shadow: -1px -1px 1px white;
      margin-top: 40px;
      margin-bottom: -50px;
      padding-bottom: 0;
      font-size: 1.5rem;
      font-weight: bold;
      color: rgba(194, 20, 20, 0.842);
      border-top: 2px solid rgb(146, 14, 14);
      padding-top: 20px;
      letter-spacing: 2px;
    }

    .hgroup-sticker p {
      margin-top: 0;
      margin-bottom: 0;
      border-bottom: 1px solid brown;
    }

    /* Текстовый блок */
    .text-overlay {
      position: absolute; /* Позиционируем текст абсолютно */
      top: 50%; /* Центрируем по вертикали */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Приводим к центру */
      color: darkviolet;
      font-size: 1.1rem; /* Размер шрифта */
      text-align: center; /* Выравнивание текста по центру */
      padding: 10px; /* Внутренние отступы */
      max-width: 60%; /* Ограничиваем ширину текстового блока */
      word-wrap: break-word; /* Разрешаем переносы длинных слов */
    }

    .text-overlay h4 {
      font-family: 'rust', sans-serif;
    }

    .text-overlay h5 {
      font-family: 'rust', sans-serif;
      font-size: .9rem;
    }

    .text-overlay p {
      margin-bottom: 0;
      font-family: 'rust', sans-serif;
    }